@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(../assets/body_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Archivo", sans-serif;
}

h1 {
    color: #0d0152;
    margin-bottom: 2rem;
}

.centered {
    width: 60%;
    align-self: center;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    border: 2px solid #0d0152;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(176, 238, 235, 0.7);
    box-shadow: #fffeff 0px 5px 15px;
    border: 2px solid rgb(50, 7, 150);
    padding: 1rem;
}

ul {
    list-style: none;
    margin: 1rem 2rem;
}

ul li {
    border: 2px solid #0d0152;
    background-color: rgba(216, 214, 211, 0.7);
    padding: 1rem;
    margin: 1rem 0;
    text-align: left;
    cursor: pointer;
    border-radius: 5px;
}

.btn {
    border: 2px solid currentColor;
    border-radius: 2rem;
    color: #0d0152;
    font-size: 1rem;
    font-weight: 100;
    overflow: hidden;
    padding: 0.5rem 2rem;
    margin-bottom: 0.5rem;
    position: relative;
    text-decoration: none;
    transition: 0.2s transform ease-in-out;
    will-change: transform;
    z-index: 0;
}

.btn::after {
    background-color: #0d0152;
    border-radius: 2rem;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-100%, 0) rotate(10deg);
    transform-origin: top left;
    transition: 0.2s transform ease-out;
    will-change: transform;
    z-index: -1;
}

.btn:hover::after {
    transform: translate(0, 0);
}

.btn:hover {
    border: 2px solid transparent;
    color: rgb(255, 255, 255);
    transform: scale(1.05);
    will-change: transform;
}

ul li:hover {
    box-shadow: #0d0152 0px 5px 15px;
}

#result-container {
    display: flex;
    margin: auto;
    gap: 2rem;
    height: 70%;
    overflow: auto;
}

#result-container h3 {
    font-size: 16px;
    margin: 0.5rem;
}

p {
    font-size: 12px;
    margin: 0.5rem;
}

.answer-container {
    width: 50%;
    margin-top: 0.5rem;
}

.answer-wrapper {
    margin: 1rem;
    border: 2px solid #0d0152;
    background-color: rgba(216, 214, 211, 0.7);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(46, 45, 45, 0.5);
}

.score-title {
    text-align: left;
    padding-left: 1rem;
    color: #0d0152;
    font-size: 1rem;
}